@import '@servicenow/sass-kit/host';

.card{
    box-shadow: 0 4px 8px 0 black;
   width: 40%;
}
.productimage{
    height: 150px;
    width: 150;
    padding-left: 100px;
}
.cointainer{
    padding: 4px 15px;
}